body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1200");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

/* Header */
header {
    background: rgba(252,128,25,0.9);
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

/* Layout */
.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 260px;
    background: rgba(255,255,255,0.95);
    padding: 15px;
    height: 100vh;
    color: black;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Food Cards */
.foods {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* Card */
.card {
    background: white;
    width: 240px;
    margin: 15px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
    color: black;
    position: relative;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
}

/* Image */
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* Offer Badge */
.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fc8019;
    color: white;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 5px;
}

/* Content */
.card-content {
    padding: 10px;
}

.card h4 {
    margin: 5px 0;
}

.info {
    font-size: 14px;
    color: gray;
}

/* Button */
.btn {
    background: #fc8019;
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
}

.btn:hover {
    background: #e56e10;
}
